
@{
    ViewBag.Title = "ReportesEstacionamientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <a href="@Url.Action("AdmEstacionamientos", "Estacionamiento")" role="button"><span class="far fa-arrow-alt-circle-left fa-3x" style="cursor:pointer; color:#1A5276"></span></a>
        </div>
        <div class="col-md-8 col-xs-12">
            <h2 style="color:#1A5276; text-align:left; font-weight:bold">Reporte de Estacionamientos</h2><br />
        </div>
    </div>
</div>

<iframe width="100%" height="500px" src="https://app.powerbi.com/reportEmbed?reportId=f9f2dc23-f9db-46af-9d1c-f07f32a6ec0d&autoAuth=true&ctid=08a4f0b0-d4f1-4ca4-8234-366581f0ea09&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true">
</iframe>

